<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">Smart Lawyer</div>
            <nav class="navigation">
                <a href="{{ url_for('register') }}" class="register-button">Register</a>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>Uncover the power of law —</h1>
                    <h1>Access your account to explore our legal services.</h1>
                </div>
                <form method="POST" action="{{ url_for('login') }}" class="login-form">
                    <h1>Welcome Back</h1>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class="flashes">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <h4>USERNAME</h4>
                    <input type="email" name="username" required>
                    <h4>Password</h4>
                    <input type="password" name="password" required>
                    <button type="submit" class="btn-primary">Login</button>
                </form>
                
            </div>
        </div>
        <div class="hero-image"></div>
    </section>

    <section class="services">
        <div class="container">
            <h2>Our Services</h2>
            <div class="service-item">
                <h3>Precision in Legal Search</h3>
                <p>"Find precise legal cases quickly with tailored search capabilities."</p>
            </div>
            <div class="service-item">
                <h3>Intuitive Interface</h3>
                <p>"Navigate legal data effortlessly with our user-friendly design."</p>
            </div>
            <div class="service-item">
                <h3>Advanced NLP</h3>
                <p>"Utilize advanced NLP for accurate results and intelligent query handling."</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Smart Lawyer. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
